body {
  padding: 0;
  margin: 0;
}

.parent {
  position: relative;
  width: 50%;
  margin: 0% auto 0 auto;
}

.parent:before {
  content: "";
  display: block;
  padding-top: 61.37%; 
}

.sprite {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background:  url('sprites.png') no-repeat 0 0%;
  background-size: 100%;
  animation: sprite 3.5s steps(45) infinite;
}

@keyframes sprite {
  from { background-position: 0 0%; }
  to { background-position: 0 100%; }
}


@media  all and (max-width:768px) and (min-width: 360px){
   .sprite {
       transform:scale(1.5);
   }

   .parent {
      margin: 10% 20%;
   }
}

@media all and (max-width: 360px ) and (min-width: 150px) {
  .sprite {
    transform: scale(2.5);
  }

  .parent {
    margin: 20% 20%;
  }
}

@media all and (max-width: 150px) and (min-width: 100px) {
  .sprite {
    transform: scale(12);
  }

  .parent {
    margin: 150% 150%;
  }
}

@media all and (max-width: 100px) {
  .sprite {
    transform: scale(16);
  }

  .parent {
    margin: 150% 200%;
  }
}


@media all and (min-height: 350px ) {
  .sprite {
    transform: scale(1.2);
  }
}

@media all and (min-height: 225px ) and (max-height: 350px ) {
 .sprite {
    transform: scale(1); 
 } 
 .parent {
  margin: 0% 20%;
 }
}

@media all and (min-height: 150px ) and (max-height: 225px) {
 .sprite {
    transform: scale(0.8); 
 } 
 .parent {
  margin: -5% 20%;
 }
}

@media all and (min-height: 100px ) and (max-height: 150px) {
 .sprite {
    transform: scale(0.6); 
 } 
 .parent {
  margin: -10% 20%;
 }
}

@media all and (min-height: 50px ) and (max-height: 100px) {
 .sprite {
    transform: scale(0.3); 
 } 
 .parent {
  margin: -13% 20%;
 }
}